* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: darkred;
    margin-bottom: 20px;
}

p {
    color: #aaa;
    margin-bottom: 30px;
}

button {
    padding: 15px 40px;
    background: darkred;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: red;
}

.scare {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.monster {
    font-size: 180px;
}

.scare h2 {
    color: red;
    font-size: 60px;
    margin-top: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: darkred;
    margin-bottom: 20px;
}

p {
    color: #aaa;
    margin-bottom: 30px;
}

button {
    padding: 15px 40px;
    background: darkred;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: red;
}

.scare {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: black;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.scare img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.shake {
    animation: shake 0.08s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(10px, -10px);
    }

    50% {
        transform: translate(-10px, 10px);
    }

    75% {
        transform: translate(10px, 10px);
    }

    100% {
        transform: translate(-10px, -10px);
    }
}